@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: DM Sans;
  src: url(https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100;0,9..40,200;0,9..40,300;0,9..40,400;0,9..40,500;0,9..40,600;0,9..40,700;0,9..40,800;0,9..40,900;0,9..40,1000;1,9..40,100;1,9..40,1000&display=swap);
}

 html {
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
} 

body {
  background-color: #0c0c1d;
  color: lightgray;
  font-family: DM Sans,Sans-Serif;
  @apply font-serif
}

